@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

.header{
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 3px 22px 0 rgba( 31, 38, 195, 0.47 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    position: sticky;
    top: 0;
   
}

.logo-name{
    font-family: 'Rubik Iso', cursive;
}



.mid-nav-items{
   

    background-color: #030014b4;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.logo:hover{
        animation: rotate 1.3s infinite;
}



@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }

  .top{
    top: -290px;

  }


  